@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

@font-face {
  font-family: 'BadUnicorn';
  src: url(BadUnicornDemoRegular-BVWx.ttf) format('truetype');
}


@font-face {
  font-family: 'HoneyBee';
  src: url(Hello\ Shilla.ttf) format('truetype');
}


p,
#main,
#canvas,
#letter,
#clock-box {
  margin: 0;
  padding: 0;
}

body {
  background: #ffe;
  font: 14px/1.4 "Segoe UI", "Roboto", sans-serif;
}

.myclass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#main {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.just1{
  width: fit-content;
  height: fit-content;
}

.just1 h5{
  font: 14px/1.4 "Segoe UI", "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

.just1 img{
  height: 100px;
  border-radius: 30%;
}


#main,
#canvas {
  width: 1100px;
  height: 680px;
}

#canvas{
  margin-top: 200px;
  margin: auto;
}

#main {
  position: relative;
}

#letter {
  position: absolute;
  width: 450px;
  height: 475px;
  left: 60px;
  top: 80px;
  display: none;
  color: #228567;

  font-size: 22px;
  /*font-family: 'HoneyBee'; */
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  opacity: 0;
  transition: opacity 0.5s;
}

#clock-text {
  color: gray;
}

.name {
  color: black;
  font-size: 40px;
  font-family: 'HoneyBee';
}

#clock {
  margin-left: 48px;
}

#clock .digit {
  font-size: 64px;
  font-family: 'BadUnicorn';
}